.radio_group{

}

.radio{
    position: relative;
    display: inline-block;
    margin-right: 8px;
    color: #606266;
    white-space: nowrap;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;

    user-select: none;

    &.checked{
        .radio_input{
            .radio_inner{
                // border-color: #E02021;
                // background: #E02021;
                &::after{
                    background-color: #E02021;
                }
                &::before{
                    content: none;
                }
            }
        }
    }

    &.disabled{
        .radio_input{
            .radio_inner{
                border-color: #ccc;
                background-color: #ccc;
                cursor: not-allowed;
                &::after{
                    background-color: #ccc;
                }
                &:hover{
                    border-color: #ccc;
                }
            }
        }
    }

    .radio_input{
        position: relative;
        display: inline-block;
        outline: none;
        vertical-align: middle;
        white-space: nowrap;
        line-height: 1;
        cursor: pointer;
        .radio_inner{
            position: relative;
            z-index: 1;
            display: inline-block;
            box-sizing: border-box;
            width: 16px;
            height: 16px;
            border: 1px solid #dcdfe6;
            border-radius: 50%;
            background-color: #fff;
            transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),background-color .25s cubic-bezier(.71,-.46,.29,1.46);
            &:hover{
                border-color: #E02021;
            }
            &::after{
                position: absolute;
                top: 3px;
                left: 3px;
                box-sizing: content-box;
                width: 8px;
                height: 8px;
                border-top: 0;
                border-left: 0;
                border-radius: 8px;
                content: "";
                transition: transform .15s ease-in .05s;
            }
        }

        input{
            position: absolute;
            z-index: -1;
            margin: 0;
            width: 0;
            height: 0;
            outline: none;
            border: 0;
            opacity: 0;
        }
    }

    .radio_label{
        display: inline-block;
        padding: 0 8px;
        color: #202224;
        font-size: 14px;
        line-height: 19px;
    }
}

