.text_color {
    color: var(--bg-color);
}

.text-2 {
    color: var(--text-2);
}

.my-block-bar {
    background-color: red;
}

.my-block-foo {
    background-color: aqua;
}

.bar-block-component {
    background: red;
}
